<h1>Alta Novedad</h1>

<form action="/crear_novedad" method="post">
    <label for="creador">Creador</label>
    <input type="text" name="creador" id="creador"> <br>

    <label for="novedad">Novedad</label>
    <input type="text" name="novedad" id="novedad"> <br> 

    <button type="submit">Enviar</button>
</form>

<a href="/todas_novedades"><button>Regresar al listado</button></a>